* {
	box-sizing: border-box;
}

body {
	background-color: #808000;
	margin: 0;
}

header {
	background-image: linear-gradient(to bottom, #FF0, #FFF);
	margin: 0;
	display: block;
	width: 100%;
	min-width: 1264px;
	height: 64px;
}

#header-sec-1 {
	width: 64px;
	height: 64px;
	float: left;
	background-image: url(images/stlc.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-right: 20px;
	margin-left: 3px;
}

#header-sec-1:hover {
	background-color: #AAA;
}

#header-sec-2 {
	height: 64px;
	display: inline-block;
	font-size: 50px;
	color: #069;
	font-family: sans-serif;
}

#header-sec-3 {
	height: 64px;
	float: right;
}

#header-sec-3 nav {
	
}

#header-sec-3 ul {
	list-style-type: none;
}

#header-sec-3 ul li {
	display: inline-block;
	height: 64px;
}

#header-sec-3 ul li a {
	display: block;
	text-decoration: none;
	color: black;
	height: 64px;
	font-size: 50px;
	padding: 5px;
	font-family: serif;
}

#header-sec-3 ul li a:hover {
	background-image: linear-gradient(to bottom, #DD0, #FFF);
}

header * {
	margin: 0;
}

main {
	width: 85%;
	padding: 15px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	min-width: 1000px;
	background-color: #FFF;
	font-family: serif;
	display: block;
}

#padding-main {
	margin: 0;
	display: block;
	height: 5px;
}

#breadcrumb ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#breadcrumb ul li:not(:first-of-type):before {
	content: "> ";
	color: #AAA;
}

#breadcrumb ul li {
	display: inline;
}

#breadcrumb ul li a {
	text-decoration: none;
	color: #AAA;
}

h1 {
	font-family: sans-serif;
}

footer {
	margin: 0;
	background-color: #AAA;
	width: 85%;
	min-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.footer-sec {
	width: 24%;
	display: inline-block;
	padding: 16px;
	text-align: center;
	vertical-align: top;
	font-family: sans-serif;
}

.footer-sec * {
	margin: 0;
}

.footer-sec .strong {
	font-weight: bold;
}

.footer-sec p {
	padding-top: 5px;
	padding-bottom: 5px;
}

.footer-sec img {
	padding-bottom: 15px;
	padding-top: 3px;
	padding-left: 3px;
}

.footer-sec ul {
	list-style-type: none;
	padding: 0;
}

.footer-sec ul li {
	padding-bottom: 3px;
}

.footer-sec a {
	text-decoration: none;
	color: #FFF;
}

.footer-sec a:hover {
	text-decoration: underline;
}

.footer-sec a img:hover {
	width: 35px;
	padding-top: 0px;
	padding-left: 0px;
}

#social li {
	display: inline;
}

#social li a {
	width: 32px;
	height: 32px;
}